@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<h1>ForgetPassword</h1>
<form asp-action="ForgetPassword" method="post">
    <div asp-validation-summary="All"></div>

    <div style="margin-top: 20px;">
        <input type="email" asp-for="Email" placeholder="Email" class="form-control">
        <span asp-validation-for="Email"></span>
    </div>
    <div style="margin-top: 20px;">
        <input type="submit" value="Reset Password" class="btn btn-primary">
    </div>
</form>
