@model ResetPasswordViewModle
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Email"/>
    <input type="hidden" asp-for="Token"/>

    <div asp-validation-summary="All"></div>

    <input type="password" asp-for="Password" placeholder="Password" class="form-control">
    <span asp-validation-for="Password"></span>
    <br />

    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control">
    <span asp-validation-for="ConfirmPassword"></span>
    <br />

    <input type="submit" value="Change Password" class="btn btn-primary">
</form>
