<<<<<<< HEAD
﻿@model DepartmentDto
=======
﻿@model Department
>>>>>>> 4e7271227ef2f56002153a674b19f1451a9818c9
@{
    ViewData["Title"] = "Create";
}
<h1> Department Details</h1>
<br />
<br />

<<<<<<< HEAD
<form asp-action="Edit" asp-route-id="@Model.Id">
=======
<form asp-action="Edit" asp-route-id="@Model.id">
>>>>>>> 4e7271227ef2f56002153a674b19f1451a9818c9
    <div class="form-group">
        <label class="col-form-label" asp-for="Code"></label>
        <input type="text" asp-for="Code" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" readonly />
    </div>
    <div>
<<<<<<< HEAD
        <label class="col-form-label" asp-for="CreateAt"></label>
        <input type="text" asp-for="CreateAt" class="form-control" readonly />
=======
        <label class="col-form-label" asp-for="CreateAT"></label>
        <input type="text" asp-for="CreateAT" class="form-control" readonly />
>>>>>>> 4e7271227ef2f56002153a674b19f1451a9818c9
    </div>

    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>